/* Education.css */
.skills__content1 {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem 4rem;
  border-radius: 1.25rem;
  text-align: center;
}

.skills__title1 {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  text-align: center;
  margin: 0 auto; /* Ajout de cette ligne pour centrer le titre horizontalement */
  margin-bottom: 25px;
}

.skills__box1 {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}

.skills__group1 {
  display: grid;
  align-items: flex-start;
  row-gap: 1rem;
}

.skills__data1 {
  display: flex;
  column-gap: 0.5rem;
}

.skills__name1 {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px;
  text-align: center; /* Ajout de cette ligne pour centrer le texte horizontalement */
}

.skills_level1 {
  font-size: var(--tiny-font-size);
}
